body {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;

  background-color: #fc1e8a;
  user-select: none;
}

body.modal-open{
  overflow: hidden;
}

button {
  cursor: pointer;
}
.container {
  position: relative;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  gap: 30px;

  background: linear-gradient(
    325deg,
    #03001e 0%,
    #7303c0 30%,
    #ec38bc 70%,
    #fdeff9 100%
  );

  padding: 40px 60px
}

h2 {
  font-size: 3em;

  color: #fff;

  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.game-header {
  display: flex;
  gap: 22px;

  justify-content: center;
  align-items: center;
}

.player-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;

  color: #fff;
  line-height: 100%;
  padding: 8px 6px;
}

.player-score h2 {
  font-size: 2em;
}
.player-score.active {
  border-radius: 8px;
  border: 2px solid #7303c0;
}
.player-score p {
  font-size: 1.8em;

}
.reset {
  padding: 15px 20px;

  width: 100%;

  color: #000;
  background-color: #fff;

  border: none;

  font-size: 1.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  cursor: pointer;
  font-weight: 600;
}

.reset:focus, .reset:hover {
  color: #ec38bc;
  background-color: #262809;
}


.game {
  display: flex;
  flex-wrap: wrap;

  gap: 10px;

  width: 430px;
  height: 430px;
  
  transform-style: preserve-3d;
  perspective: 500px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 100px;

  position: relative;

  background-color: #fff;

  font-size: 3em;

  transform: rotateY(180deg);
  
  transition: 0.25s;
}

.item::after {
  content: "";
  position: absolute;

  inset: 0;

  background-color: #404040;
  transition: 0.25s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}

.item.boxOpen {
  transform: rotateY(0deg);
}

.boxOpen::after,
.boxMatch::after {
  transform: rotateY(180deg);
}
